---
layout: default
paginate: true
---


<div class="posts">
    {% for post in paginator.posts %}
    <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
    {% endfor %}
</div>

<div class="pagination">
    {% if paginator.previous_page %}
    <a class="prev" href="{{ paginator.previous_page_path }}">&larr; Previous</a>
    {% endif %}

    {% if paginator.next_page %}
    <a class="next" href="{{ paginator.next_page_path }}">Next &rarr;</a>
    {% endif %}
</div>

<!--<div class="posts">-->
<!--    {% for post in site.posts %}-->
<!--    {% if post.hidden != true %}-->
<!--    <a href="{{ post.url }}" class="post-link">{{ post.title }}</a>-->
<!--    {% endif %}-->
<!--    {% endfor %}-->
<!--</div>-->