<div class="sidebar">
    <a href="/" class="logo">
        <img src="/img/favicon.png">
    </a>
    <ul class="nav">
        <div class="nav-inner">
            <li><a href="{{ "/about/" | relative_url }}"><span class="icon info"></span>about</a></li>
            <li><a href="http://github.com/shinyoungashleychoi"><span class="icon github"></span>github</a></li>
            <li><a href="{{ "/search/" | relative_url }}"><span class="icon code"></span>search</a></li>
        </div>

    </ul>
</div>