<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <h1 class="site-title">
        {{ site.title }}
    </h1>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="shortcut icon" href="../img/favicon.png">
</head>
<body>
<div class="container">
    {% include sidebar.html %}
    <div class="wrapper">
        {{ content }}
    </div>
</div>
<script src="/search.js"></script> <!-- 여기에 추가 -->

</body>
</html>