<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/img/favicon.png">
</head>
<body>

<!-- 블로그 제목을 항상 보이게 고정 -->
<header class="site-header">
    <h1 class="site-title">
        {{ site.title }}
    </h1>
</header>

<div class="container">
    {% include sidebar.html %}
    <div class="wrapper">
        {{ content }}
    </div>
</div>

<script src="/search.js"></script>

</body>
</html>