---
layout: default
---
<head>
  <script src="../src/script/share.js"></script>

</head>
<article class="post detailed">
  <h1>{{ page.title }}</h1>

  <div>
    <p class="author_title">{{site.author}}  ·  {{ page.date | date: "%B %e, %Y" }}</p>
    {% if page.last_modified_at %}
    <p class="author_title" datetime="{{ page.last_modified_at | date_to_xmlschema }}">(Updated: {{ page.last_modified_at | date: "%b %-d, %Y" }})</p>
    {% endif %}
    <div class="post-tags">
      {% if post %}
        {% assign categories = post.categories %}
      {% else %}
        {% assign categories = page.categories %}
      {% endif %}
      {% for category in categories %}
        <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
        {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}
    </div>
  </div>
    
  <div class="entry">
    {{ content }}
  </div>

  <div class="share-buttons">
    <a href="#" class="share-btn facebook" onclick="shareOnFacebook()">
    <img src="../assets/images/facebook.png" alt="Share on Facebook">
    </a>
    <a href="#" class="share-btn twitter" onclick="shareOnTwitter()">
      <img src="../assets/images/twitter.png" alt="Share on X">
    </a>
    <a href="#" class="share-btn linkedin" onclick="shareOnLinkedIn()">
      <img src="../assets/images/linkedin.png" alt="Share on LinkedIn">
    </a>
    <a href="#" class="share-btn whatsapp" onclick="shareOnWhatsApp()">
      <img src="../assets/images/whatsapp.png" alt="Share on Whatsapp">
    </a>
</div>


  <!--<div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>-->

  {% include disqus.html %}
</article>
